<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="KursovoiProect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<KursovoiProect.Properties.Settings>
   <setting name="host" serializeAs="String">
    <value>10.207.106.12</value>
   </setting>
   <setting name="uid" serializeAs="String">
    <value>user29</value>
   </setting>
   <setting name="pwd" serializeAs="String">
    <value>pl67</value>
   </setting>
   <setting name="database" serializeAs="String">
    <value>db29</value>
   </setting>
   <setting name="userlogin" serializeAs="String">
    <value>admin</value>
   </setting>
   <setting name="userpassword" serializeAs="String">
    <value>admin</value>
   </setting>
  </KursovoiProect.Properties.Settings>
	</userSettings>
</configuration>